// Grays
@very-light-gray: #e8ecf1;
@light-gray: #c0cad8;
@gray: #76879f;
@dark-gray: #455163;
@very-dark-gray: #222d3e;

// Tints
@green: #96e88d;
@cyan: #70d4ef;
@blue: #76adfb;
@purple: #be91f4;
@pink: #f984b2;
@red: #f07c82;
@strong-orange: #f59e6f;
@orange: #f9c462;
@light-orange: #f7ea75;
